extends ../default

block content

  include ../templates/nav
  
  .ui.container.grid.stackble
    .row
    .sixteen.wide.column
      h2.ui.header.blue.dividing Lista de Produtos
    .sixteen.wide.column
      table#tbl-produtos.ui.table.grey.celeed
        thead
          tr
            th= 'ID'
            th= 'Nome'
            th= 'Preço'
            th= 'Quantidade'
            th= 'Data de Criação'
            th= 'Ações'
        tbody
          each produto in produtos
            tr
              td(id='id_produto')= produto.id_produtos
              td= produto.nome
              td= 'R$ ' + produto.preco
              td= produto.estoque
              td= produto.data_criacao
              td  
                a#btn_exlcuir.ui.button.basic.icon.red(href='#', data-inverted='', data-tooltip='Excluir', data_position='.center')
                  i.trash.icon
                a#btn_editar.ui.button.basic.icon.blue(href='/editarproduto/' + produto.id_produtos, data-inverted='', data-tooltip='Editar', data_position='.center') 
                  i.cut.icon
